
<form action="" method="get">
  Search movies: <input type="text" placeholder="Search by title..." name="searchMovies" value="{{filter.title}}">
  Choose movie type:
  <select name="chosenMovieType" value="{{ filter.chosenGenre }}">
    <option value="">Genre not defined</option>
    {% for genre in filter.allGenres %}
      <option value="{{ genre.name }}">{{ genre.name }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Search">
</form>
{% for movie in movies %}
  <h2>{{movie.title}}</h2>
  Description: {{movie.description}} </br>
  <img src= "{{file_url(movie.image)}}" /> </br>
  Genre: {{movie.genre}} </br>
{% endfor %}
